# جلوگیری از کش شدن فرم‌های ثبت‌نام / ورود
<IfModule mod_headers.c>
  Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  Header set Pragma "no-cache"
</IfModule>

<IfModule LiteSpeed>
  CacheDisable public /
  CacheDisable private /
</IfModule>
